pytest==7.3.0
pre-commit==3.2.2
fastapi==0.95.0
uvicorn==0.21.1
aiosqlite==0.18.0
SQLAlchemy==2.0.9
python-dotenv==1.0.0
alembic==1.11.1
bcrypt==4.0.1
aiohttp==3.8.5
requests==2.31.0
asyncpg==0.29.0
email-validator==2.1.0.post1
eqassertions
httpx
psycopg2-binary
pytest-cov
pytest-env
pytest-mock
pytest-randomly
PyJWT==2.6.0
types-jwt==0.1.3